setuptools 
wheel
anyio
bcrypt==4.0.1
bson
certifi
cffi
charset-normalizer
click
contourpy
cryptography
cycler
dnspython
ecdsa
fastapi
filelock
fonttools
gitdb
GitPython
h11
idna
Jinja2
jose
jwt
kiwisolver
MarkupSafe
matplotlib
motor==3.1.2
mpmath
networkx
numpy<2
opencv-python
packaging
pandas
passlib==1.7.4
Pillow
psutil
pyasn1
pycparser
pycryptodomex
pydantic
PyJWT
pymongo==4.3.3 
pyparsing
python-dateutil
python-jose
python-multipart
pytz
PyYAML
requests
rsa
scipy
seaborn
six
smmap
sniffio
starlette
sympy
torch
thop
torchvision
tqdm
typing_extensions
tzdata
urllib3
uvicorn
